@import "@fontsource/poppins/latin-400.css";
@import "@fontsource/poppins/latin-500.css";
@import "@fontsource/poppins/latin-600.css";
@import "@fontsource/poppins/latin-700.css";

@import "tailwindcss";

* {
	font-family: "Poppins", system-ui, sans-serif;
}

button:not(:disabled),
a[href] {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

.scrollbar-hidden {
	scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}
